import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
!pip install -q streamlit
!pip install -q pandas numpy scikit-learn matplotlib seaborn joblib
!pip install -q langchain
!pip install -q langchain-community
!pip install -q langchain-openai
!pip install -q faiss-cpu
!pip install -q sentence-transformers
!pip install -q pypdf
!pip install -q python-dotenv
